.figure-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .figure {
    text-align: center;
  }

  .figure img {
    max-height: 650px; 
    width: auto;
  }

  .figure.big img {
    max-height: 750px; 
  }
  .figcaption-spacing{
    margin-top: 10px;
  }
  .text-smaller{
    font-size: 14px;
  }
  .icon-footer-height{
    width: 24px;
    height: 24px;
  }
  .hr-opacity{
    opacity: 10%;
  }